@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');
/*importar fonte*/

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
}

.home {
  color: red;
}

.header {
  margin: 0px;
  padding: 25px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,
      #00c4cc 0%,
      rgba(30, 76, 165, 0.81) 89.72%);

  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;


}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions {
  display: flex;
  gap: 12px;
}

.img {
  width: 20px;
  height: 20px;
}

.img:hover {
  cursor: pointer;
}

.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.main {
  margin: 0px 34px;
  background: linear-gradient(180deg,
      #00a6cc 0%,
      rgba(30, 76, 165, 0.81) 89.72%);
  height: 400px;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 8px;
  margin-left: -350px;
  position: fixed;
  width: 20%;
  height: 100%;
  transition: .5s;
  margin-top: -75px;
}

#btnClose {
  padding: 5px;
  float: right;
  font-weight: bold;
  background-color:#1E4CA5;
  color: white;
}

#btnClose:active {
  background-color:crimson;
}

.effect {
  transform: margin .4s;
}

@media (min-width: 368px) {
  #btnClose {
    display:none;
  }
  .main {
    min-width: 261.75px;
    width: 20%;
  }
}

.menu {
  padding: 4rem 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  list-style: none;
  font-size: 17px;
}

.options:hover {
  cursor: pointer;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-menu {
  /*define o estilo para a imagem do menu, incluindo largura.*/
  /*abrir menu  lateral*/
  width: 10%;
  text-align: center;
  padding: 5px;
  transition: all .5s;
  margin-left: 350px;
   @media (width >= 890px) {
    display: none;
  };
}

.img-menu:hover {
  /*define um estilo quando o mouse passa por cima da imagem do menu.*/
  cursor: pointer;
  border-radius: 100%;
  padding: 5px;
  background-color: #476CB4;
}

.img-menu:active {
  background-color: #020202;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.content {
  background: red;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.main-content {
  margin: 18px;
}

.title h2 {
  color: #1E4CA5;
}

.full-width {
  display: flex;
}

.search-bar {
  border-radius: 6px;
  border: none;
  height: 43px;
  flex: 1;
  margin-bottom: 27px;
  background: url("../img/search.png") no-repeat right;
  padding-right: 50px;
  background-size: 16px;
  background-position: right 20px top 15px;
  background-color: #FFF;
}

#tabela-materiais{
width:100%;

}

