@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');
/*importar fonte*/

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #b5b4b6;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  width: 98.7%;


}

body{
  background: url(../img/banner.png);
  background-position:right; 
  background-repeat: no-repeat; 
  background-size:67%; 
  


}

.header {
/*cabeçalho*/
margin: 8px;
padding: 40px;
height: 30px;
display: flex;
justify-content: space-between;
align-items: center;
background: linear-gradient(180deg, #00c4cc 0%, rgba(30, 76, 165, 0.81) 89.72%);
box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
border-radius: 0px;

}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.img {
  width: 20px;
  height: 20px;
}

.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.main {
  margin: 0px 2px;
  width: 296px;
  background: linear-gradient(180deg,
      #00a6cc 0%,
      rgba(30, 76, 165, 0.81) 89.72%);
  height: 600px;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.active {
  margin-left: 0px;
}

.menu {
  padding: 4rem 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 17px;
  list-style-type: none;
}

.btn-sidebar {
  background: #00c4cc;
  max-height: 20px;
 
}

.btn-sidebar {
  color: black;
  background: none;
}

.admin {
  margin-top: 80px;
}

.options:hover {
  cursor: pointer;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-menu {
  scale: 0.8;

  @media (width >=890px) {
    display: none;
  }
}

.img-menu:hover {
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.content {
  background: #f5f5f5;
  border-radius: 2px;
}

.main-content {
  display: flex;
  margin-right: 50px;
}