@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* Importar fonte */

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  color: red;
}

.header {
  margin: 0px;
  padding: 24px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #00c4cc 0%, rgba(30, 76, 165, 0.81) 89.72%);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon_list{
  display:flex;
  align-items: center;
}
.actions {
  display: flex;
  gap: 12px;
}
.favorite:hover,
.cart:hover {
  /* define animação ao passar o mouse em favoritos no cabeçalho*/
  transition: transform 0.3s ease;
  transform: scale(1.2);
 }
 .img-action-cabecalho {
  /*define o estilo para as imagens dos ícones (favoritos, carrinho, perfil)*/
  width: 20px;
  height: 20px;
}

.img-action-cabecalho:hover {
  /*define um estilo quando o mouse passa por cima das imagens dos ícones.*/
  cursor: pointer;
}


.favorite:hover, .cart:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.profile:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.options img {
  transition: transform 0.3s ease;
  margin-right: 10px;
}

.options:hover img {
  transform: scale(1.1);
}

.logout:hover img {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.img {
  width: 20px;
  height: 20px;
}

.img:hover {
  cursor: pointer;
}

.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 32px;
  font-weight: 500;
}

.main {
  margin: 0px 2px;
 /*// width: 296px;*/
  background: linear-gradient(180deg, #00a6cc 0%, rgba(30, 76, 165, 0.81) 89.72%);
  height: 100vh;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width:416px;

  @media (width <= 780px) {
    width:100px
  }
}
.none{
  @media (width <= 780px) {
  display:none
  }
}
.menu {
  padding: 4rem 24px;
  width:250px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 17px;
  list-style-type: none;
  padding: 0px;
}

.options:hover {
  cursor: pointer;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-menu {
  transform: scale(0.8);
}

@media (min-width: 90px) {
  .img-menu {
    display: none;
  }

}

.img-menu:hover {
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.content {
  display: flex;
  flex-grow: 1;
  background: #f5f5f5;
  border-radius: 6px;
}

.main-content {
  display: flex;
  height:100vh;
  /*//margin-right: 24px;*/
}

/* Responsividade para dispositivos móveis */


.material-symbols-outlined{
  display: flex;
  align-items: center;
  text-align: center;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  
  width: 100%;
  margin-left:8px;
  border-radius:6px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  gap:  120px;
  background: linear-gradient(to bottom right, #57DCFF, #2A6294);
  padding-left: 7%;
    padding-right: 10%;

    @media (width <= 1480px) {
      gap:  90px;
      padding-left: 4%;
      padding-right: 4%;

    }


    @media (width <= 1180px) {
      flex-direction: column-reverse;   
      /*//padding-top:40px;*/
    }


}

.im{
  width: 24px;
  height: 24px;
}

.content1{

}

.banner-img{
  margin-top: -52px;
  @media (width <= 1480px) {
    margin-top: 40px;
  }

  


}

.ol {
  @media (width <= 1500px) {
    width: 28vw;

    @media (width <= 1480px) {
      margin-top: -60px;

    }
  }

  @media (width <= 780px) {
    width: 40vw;
  }
}


.span{
  display:flex;
  flex-direction: column;
  gap:60px;
  margin-top:-90px;
  
  }

  .estoque{
    font-family: poppins;
      font-weight: 300;
      font-size: 76px;
    color: white;
    line-height: 90px;

    @media (width <= 1480px) {
      font-size: 54px;
    line-height: 73px;
    }

    @media (width <= 940px) {
      font-size:40px;
      line-height: 60px;

    }
  }

  .result{
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    color: white;


    @media (width <= 1480px) {
      font-size:24px;
     

    }
    @media (width <= 440px) {
      font-size:16px;
      

    }
    
  }

  .nivel{
    font-family: 'Poppins';
      font-size: 17px;
      color: #1a1a1a;
      padding: 10px 24px;
      background-color: #00C4CC;
      border-radius: 18px;
      align-items: center;
      display: flex;
      justify-content: center;
  }