
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');

/* CSS geral */
body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #b5b4b6;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 98.7%;
  margin-left: 8px;
  margin-right: 30px;
}

/* Cabeçalho */
.header {
  margin: 18px;
  padding: 24px;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    180deg,
    #00c4cc 0%,
    rgba(30, 76, 165, 0.81) 89.72%
  );
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: transform 0.3s ease; 
  transform: scale(1.1); 
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: transform 0.3s ease; 
  transform: scale(1.1); 
}

.img {
  width: 20px;
  height: 20px;
  align-items: center;
}

.img:hover {
  cursor: pointer;
}

.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

/* Conteúdo principal */
.main {
  margin: 0px 2px;
  width: 332px;
  background: linear-gradient(180deg,
      #00a6cc 0%,
      rgba(30, 76, 165, 0.81) 89.72%);
  height: 717px;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
}

.active {
  margin-left: 0px;
}

.menu {
  padding: 4rem 24px;
}

.main-content {
  display: flex;
  margin-top:-16px;
  padding: 8px;
  position: fixed;
  width: 22%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 17px;
  list-style-type: none;
  padding: 0px;

}

.options img { /* Adiciona uma transição suave aos icones da lista */
  transition: transform 0.3s ease; 
  margin-right: 10px;
}

.options:hover img { /* Aplica o zoom na imagem da lista ao passar o mouse */
  transform: scale(1.1); 
}

.btn-sidebar {
  background: #00c4cc;
  max-height: 20px;
}

.btn-sidebar {
  color: black;
  background: none;
}

.admin {
  margin-top: 80px;
}

.options:hover {
  cursor: pointer;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;

}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-menu {
  scale:0.8;
}

.img-menu:hover {
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.content {
  background: #f5f5f5;
  border-radius: 2px;
} 

/* Imagem do banner */
#banner-img {
  display: flex;
  align-items: center;
  background-size: cover;
}

#banner {
  max-width: 77%;
  margin-left: 22%;
  justify-content: center;
}

/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  
  .header {
    padding: 20px;
  }
  
  .text-stock,
  .text-header {
    font-size: 24px;
  }
  
  .main {
    width: 100%;
  }
  
  .main-content {
    width: 100%;
  }
  
  .list {
    margin-bottom: 3rem;
  }
  
  #banner-img {
    margin-top: -300px;
    
  }
  
  #banner {
    max-width: 96%;
margin-left: 2%;
  }
}

.material-symbols-outlined{
  display: flex;
  align-items: center;
  text-align: center;
}
