@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');
/*importar fonte*/

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  color: red;
}

.header {
  margin: 0px;
  padding: 24px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #00c4cc 0%, rgba(30, 76, 165, 0.81) 89.72%);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin-bottom: 20px;
}

.user {
  /*define o estilo para a imagem do usuário, incluindo exibição flexível, alinhamento vertical e espaçamento interno.i*/
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions {
  /*define o estilo para as ações (favoritos, carrinho, perfil), incluindo exibição flexível e espaçamento interno.*/
  /*açoes, favoritos e carrinho, perfil */
  display: flex;
  gap: 12px;
}

.img {
  /*define o estilo para as imagens dos ícones (favoritos, carrinho, perfil), incluindo largura e altura.*/
  width: 20px;
  height: 20px;
}

.img:hover {
  /*define um estilo quando o mouse passa por cima das imagens dos ícones.*/
  cursor: pointer;
}
.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.main {
  margin: 0px 2px;
  width: 296px;
  background: linear-gradient(180deg,
      #00a6cc 0%,
      rgba(30, 76, 165, 0.81) 89.72%);
  height: 800px;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.menu {
  padding: 4rem 24px;
 
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 17px;

 
}

.options:hover {
  cursor: pointer;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-menu {
  scale: 0.8;

  @media (width >=890px) {
    display: none;
  }
}

.img-menu:hover {
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.content {
  display: flex;
  flex-grow: 1;
  background: #f5f5f5;
  border-radius: 6px;
}

.main-content {
  display: flex;
  margin-right: 24px;
}