@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Wix+Madefor+Display:wght@700&display=swap');
/*importar fonte*/

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #b5b4b6;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  width: 98.7%;
  margin-left: 8px;
  margin-right: 30px;
}
.header {
  /*cabeçalho*/
  margin: 0px;
  padding: 24px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #00c4cc 0%, rgba(30, 76, 165, 0.81) 89.72%);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.user {
  /*define o estilo para a imagem do usuário, incluindo exibição flexível, alinhamento vertical e espaçamento interno.i*/
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions {
  /*define o estilo para as ações (favoritos, carrinho, perfil), incluindo exibição flexível e espaçamento interno.*/
  /*açoes, favoritos e carrinho, perfil */
  display: flex;
  gap: 12px;
}

.favorite:hover{ /* define animação ao passar o mouse em favoritos no cabeçalho*/
  transition: transform 0.3s ease; 
  transform: scale(1.2);
}
.cart:hover{  /* define animação ao passar o mouse em carrinho no cabeçalho*/
  transition: transform 0.3s ease; 
  transform: scale(1.2);
}
.profile:hover{  /* define animação ao passar o mouse em perfil no cabeçalho*/
  transition: transform 0.3s ease; 
  transform: scale(1.1);
}

.img {
  /*define o estilo para as imagens dos ícones (favoritos, carrinho, perfil), incluindo largura e altura.*/
  width: 20px;
  height: 20px;
}

.img:hover {
  /*define um estilo quando o mouse passa por cima das imagens dos ícones.*/
  cursor: pointer;
}


.text-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-stock,
.text-header {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}


.logo {
  display:inline-flex;
  align-items: center;
}

.logo-menu {
  /*define o estilo para o logotipo do menu, incluindo exibição flexível e espaçamento entre itens.*/
  display: flex;
  align-items: center;
  gap: 7rem;
}


.form-register{
  display:flex;
  flex-direction:column;
  width:50%;
  justify-content: left;
  margin-top:7%;
  padding-top: 20px;
  padding-bottom:20px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0px 2px 10px rgba(76, 78, 100, 0.22);
}

.register {
  display: flex;
  flex-direction:row;
 
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  color:#313131;
  font-weight:500;
}

input[type="text"],
input[type="number"],
textarea {
  width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  background: rgba(249, 249, 249, 0.8);
/* Neutral/Almost White */

border: 1px solid #cfcfcf;
border-radius: 4px;
}

.button {
  margin-left: 224px !important; /* Ajuste o valor conforme necessário */
  margin-top:25px;
  border: 2px solid #4271B5;
border-radius: 25px;
background:transparent;
width: 168px;
height: 34px;
font-family: Arial, Helvetica, sans-serif;
font-weight:500;
color:#4271B5
}

.button:hover{
background-color: rgb(1, 26, 248);
color:antiquewhite;
}

.description {
  align-items: center;
  display: flex;

}

.height {
  height: 130px;
  width: 406px;
}

.title h2 {
  /*define o estilo para o título do conteúdo principal, incluindo a cor do texto.*/
  color: #1E4CA5;
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-top: -20px;


}
.img-menu {  /*define o estilo para a imagem do ÍCONE DO menu lateral*/
  width: 13%;
  margin-top: 10px;
  margin-left:10px;

}

.img-menu:hover {
  /*define um estilo quando o mouse passa por cima da imagem do menu.*/
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px rgb(5, 141, 252));
  transition: transform 0.3s ease; 
  transform: scale(1.1);
}